
body{

    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: rgb(37, 37, 37);
    transition: 0.5s;
    
}
body.dark-mode{

    background-color: #121212;
    color: #ffffff;

}

.BotonOscuridad{

    margin-top: 1%;
    font-size: 150%;
    text-decoration: none;
    color: white;
    background-color: #415bee;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;

}
.BotonOscuridad:hover{

    background-color: white;
    color: black;

}

header {
    
    background-color: #4883f0;
    padding: 1%;
    border-radius: 15px;

}

.BannerInicio{

    width: 100%;
    margin-bottom: 1%;
    border-radius: 15px;

}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

}

nav ul {

    margin-left: -5%;
    list-style-type: none;
    display: flex;
    gap: 2%;

}

nav ul li a {

    font-size: 150%;
    text-decoration: none;
    color: white;
    background-color: #415bee;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;

}
nav ul li a:hover {

    background-color: white;
    color: black;
    padding: 22px;

}

.BotonAcceder{

    background-color: #ffa500;

}

.ContenedorAbuelo {

    position: relative;
    width: 100%;
    overflow: hidden;

}

.ContenedorPadres {

    display: flex;
    transition: transform 0.5s ease;

}

.ContenedorHijos {

    background-color: white;
    box-shadow: 10px 10px 7px 0px rgb(37, 37, 37);
    margin: .5%;
    min-width: 20%;
    display: grid;
    place-items: center;
    flex: 0 0 20%;
    transition: 0.5s;

}
body.dark-mode .ContenedorHijos{

    background-color: rgb(65, 65, 65);

}
.ContenedorHijos img{

    height: 400px;

}
.ContenedorHijos p{

    color: rgb(37, 37, 37);
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    transition: 0.5s;

}
body.dark-mode .ContenedorHijos p{

    color: white;
}

.carousel-button {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    z-index: 1;

}

.carousel-button.prev {

    left: 10px;
}

.carousel-button.next {

    right: 10px;
}

.carousel-button:hover {

    background-color: rgba(0, 0, 0, 0.7);
}


footer{

    background-color: rgb(92, 92, 92);
    padding: 10px;
    margin-top: 10px;

}
footer h2{

    color: white;

}
footer p{

    color: white;

}

/* Media Queries para más resoluciones */

/* Pantallas extra grandes (desktops grandes, por ejemplo 1200px+) */
@media (max-width: 1400px) {

    .ContenedorHijos {
        flex: 0 0 33.33%; /* Muestra 3 imágenes por fila */
    }
    
}

/* Pantallas de iPad Pro (1024x1366 px o pantallas similares) */
@media (max-width: 1366px) and (min-width: 1024px) {

    .ContenedorHijos {

        flex: 0 0 31.33%; /* Muestra 3 imágenes por fila */

    }
    .ContenedorHijos img{

        height: 300px;

    }

}

/* Pantallas grandes (laptops grandes y desktops) */
@media (max-width: 992px) {
    .ContenedorHijos {
        flex: 0 0 50%; /* Muestra 2 imágenes por fila */
    }
}

/* Pantallas medianas (tablets en modo horizontal) */
@media (max-width: 768px) {
    .ContenedorHijos {
        flex: 0 0 50%; /* Muestra 2 imágenes por fila */
    }
}

/* Pantallas pequeñas (tablets en modo vertical y móviles grandes) */
@media (max-width: 600px) {
    .ContenedorHijos {
        flex: 0 0 100%; /* Muestra 1 imagen por fila */
    }
}

/* Pantallas extra pequeñas (móviles pequeños) */
@media (max-width: 400px) {
    .ContenedorHijos {
        flex: 0 0 100%; /* Muestra 1 imagen por fila */
    }
}

/* Estilo para el botón hamburguesa */
.hamburger {

    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;

}

@media (max-width: 768px) {

    .hamburger {

        display: block;
        margin-left: auto;

    }

    /* Ocultar el menú por defecto en pantallas pequeñas */
    .navbar nav ul {

        display: none;
        flex-direction: column;
        background-color: #4883f0;
        position: absolute;
        top: 26px;
        right: 0;
        width: 50%;
        padding: 10px 0; /* Espacio adicional */
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 10; /* Asegura que el menú esté al frente */
        
    }

    /* Mostrar el menú cuando la clase 'show' está activa */
    .navbar.show nav ul {

        display: flex;
    }

    /* Espacio entre los enlaces y estilos mejorados para el menú desplegable */
    nav ul li {

        padding: 10px 0;
        text-align: center;

    }

    nav ul li a {

        padding: 10px;
        display: block;
        width: auto;
        background-color: #4883f0;
        border-top: solid 1px #3870d8;
        border-bottom: solid 1px #3870d8;
        border-radius: 0;

    }
    
}

